@use './colors' as colors;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 25px;
	color: colors.$text-color;
	background-color: colors.$btn-white-color;
	background-image: linear-gradient(315deg, #ffffff 0%, #274060 74%);
	font-family: 'Open Sans', sans-serif;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 1200px;
}

.calc {
	width: 270px;
}

.screen {
	position: relative;
	height: 110px;
	background-color: rgba(0, 0, 0, 0.3);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.first-line,
.second-line {
	position: absolute;
	right: 0;
	padding-right: 5px;
	word-wrap: break-word;
	word-break: break-all;
}
.first-line {
	bottom: 40px;
	font-size: 22px;
	color: colors.$btn-first-line-color;
	font-weight: bold;
}
.second-line {
	bottom: 0px;
	color: white;
	font-size: 32px;
	font-weight: bold;
}

.ti {
	font-size: 26px;
	pointer-events: none;
}

.btn-row-0,
.btn-row-1,
.btn-row-2,
.btn-row-3,
.btn-row-4 {
	display: flex;
	direction: row;
}

.btn-row-0 {
	button {
		background-color: colors.$btn-oper-color;
	}
}

.btn-row-1,
.btn-row-2,
.btn-row-3,
.btn-row-4 {
	button:last-child {
		background-color: colors.$btn-oper-color;
	}
}

.btn-row-4 {
	button:last-child {
		flex-shrink: 0.666;
	}
}

.buttons button {
	height: 75px;
	width: 100%;
	border: 1px solid white;
	background-color: colors.$btn-color;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.4s;
}

.buttons {
	button:hover {
		background-color: rgb(248, 241, 218);
	}
}

.calc-history {
	margin-left: 15px;
	align-self: stretch;
	color: white;
	background-color: rgb(83, 81, 81, 0.15);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	text-align: center;
	overflow: auto;
}

.btn-clear-history {
	display: none;
	margin: 0 auto 8px auto;
	padding: 10px 5px;
	color: white;
	border-radius: 8px;
	border: 1px solid white;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	background-color: rgba(27, 27, 27, 0.3);
	transition: background-color 0.3s;
}

.active {
	display: block;
}

.btn-clear-history:hover {
	color: rgba(0, 0, 0, 0.8);
	background-color: rgb(248, 241, 218);
}

.title {
	position: sticky;
	top: 0;
	padding: 8px 10px 2px 10px;
	p {
		margin-bottom: 8px;
		font-size: 17px;
	}
}

.calc-history ul {
	padding: 5px;
	list-style: none;
	font-size: 15px;
}


.calc-history li {
	padding: 3px 0;
	list-style: none;
	font-size: 15px;
	max-width: 150px;
	word-wrap: break-word;
	word-break: break-all;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}
